h1 Formulario envio Imagen 
div 
    form(action="/ExtractMetadata,", method="POST", enctype="multipart/form-data")
        label Imagen
        input(type="file", name="imagen") 
        input(type="submit", value="Enviar")
